.node-inner{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.question-title-container{
	display:flex;
	width:100%;
	border-bottom:solid 1px #D0DFE3;
}

.question-number{
	border-right:solid 1px #D0DFE3;
	width:50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.question-title{
	padding:0.75rem 1rem;
	flex:1 0 0%;
}
.question-actions{
	width:115px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding:0 1rem;
}

.content-container{
	padding:1rem 1rem 1rem 0;
	margin-left: 50px;
}
.step-node{
	display: flex;
	margin-bottom: 2px;
}
.step-title{
	display: inline-flex;
	align-items: center;
	width:130px;
	height: 55px;
	font-size: 0.9rem;
	border-radius: 3px;
	padding: 0 0.5rem;
	margin-right: 2px;
}
.step-title.grey{
	background-color: #D0DFE3;
	color: #363154;
}
.step-title.blue{
	background-color: #224595;
	color: #FFFFFF;
}

.step-content-container{
	flex:1 0 0%;
	display: flex;
	flex-direction: column;
}
.step-content{
	display: flex;
	position: relative;
	border-radius: 3px;
	height: 55px;
	padding: 0 1%;
}
.step-content.learning-objective{
	overflow: hidden;
}
.step-content.blue{
	background-color: #224595;
}
.step-content.grey{
	background-color: #D0DFE3;
}

.step-content.learning-objective tf-ng-input{
	position: relative;
	top: 6px;
	width: 100%;
}
.step-content.learning-objective form{
	position: relative;
	display: flex;
	width: 100%;
} 


.step-content.answers{
	overflow: hidden;
	/* background-color: #D0DFE3; */
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	height: auto;
	padding: 0;
}