<tf-card>

	<tf-p 
		*ngIf="!questions.length"
		colour="blue" 
		text-align="center"
	>Add a Question to continue</tf-p>
	<tf-node 
		*ngFor="let question of questions; let i = index"
		padding="none"
	>

		<div class="node-inner">
		
			<question-details
				[index]=i
				[isOpen]="i === currentIndex"
				(questionDetails)='updateQuestionDetails($event, i)'
				(removeQuestion)='removeQuestion($event)'
				(editQuestion)='editQuestion($event)'
			></question-details>

		</div> <!-- END .node-inner -->

	</tf-node>


	<step-quick-add (click)="addNewQuestion()" title="Add Question"></step-quick-add>


	<div class="tansparent-node">
		<tf-node-fxl-flex-fxr>
			<tf-node-slot-wrapper slot="fxl">
				<tf-button 
					colour="white"
					(click)="cancel()"
				>
					Cancel
				</tf-button>
			</tf-node-slot-wrapper>
			<tf-node-slot-wrapper slot="flex">
				&nbsp;
			</tf-node-slot-wrapper>
			<tf-node-slot-wrapper slot="fxr">
			
				<!-- <tf-span-italic *ngIf="currentStep === 1" colour="blue">
					Select a course to continue
				</tf-span-italic> -->
				<tf-button 
					colour="aqua"
					disabled
					*ngIf="!allQuestionsValid"
				>
					Set Questions to continue
				</tf-button>
				<tf-button 
					colour="aqua"
					(click)="saveQuestions()"
					[disabled]="buttonDisabled"
					*ngIf="allQuestionsValid"
				>
					Save {{ questions.length }} question{{ questions.length === 1 ? "" : "s" }}
				</tf-button>
			</tf-node-slot-wrapper>
		</tf-node-fxl-flex-fxr>
	</div>

</tf-card>




<tf-modal 
	id="cancelQuestions" 
	display-title="Cancel Question Builder"
	[opened]="cancelConfirmationOpened" 
	show-close="false"
	[confirmText]="questions.length === 1 ? 'Yes, Cancel this question' : 'Yes, Cancel these questions' "
	(tfModalClosed)="tfModalClosedHandler($event)"
	(tfModalConfirmed)="tfModalConfirmedHandler($event)"
>
	<tf-p-tag>Are you sure you want to cancel and loose {{ questions.length === 1 ? 'this question' : ('these ' + questions.length + ' questions' )}}?</tf-p-tag>
</tf-modal>


<tf-modal 
	id="saveQuestions" 
	display-title="Save"
	[opened]="saveConfirmationOpened" 
	show-close="true"
	[confirmText]="Save"
	(tfModalClosed)="modalSaveClosedHandler($event)"
	(tfModalConfirmed)="modalSaveConfirmedHandler($event)"
>
	<tf-p-tag>
		{{ questions | json }}
	</tf-p-tag>
</tf-modal>