		
<div class="question-details-container">
	<div class="question-title-container">

		<div class="question-number">
			<tf-h3>
				{{ index + 1 }}
			</tf-h3>
		</div>
		<div class="question-title">
			<tf-h3 [colour]="qtSubmitted ? 'navy' : 'grey' ">
				{{ qtSubmitted ? qtForm.value.questionTitle : "Create a Question..." }}
			</tf-h3>
		</div>
		<div class="question-actions">
			
			<tf-dropdown 
				display-title="Actions" 
				colour="grey" 
				[dropdownId]="index"
				(tfDropdownSelected)="onQuestionActionSelected($event)"
			>
					<tf-dropdown-option value="questionImg" >
						Upload Question Image
					</tf-dropdown-option>
					<tf-dropdown-option value="answerImg" >
						Upload Correct Answer Image
					</tf-dropdown-option>
					<tf-dropdown-option value="addAnswer" >
						Add an Answer
					</tf-dropdown-option>
					<tf-dropdown-option value="deleteQuestion" >
						Delete Question
					</tf-dropdown-option>
			</tf-dropdown>

		</div>
	</div>


	<div class="content-container">

		<div class="step-node">
			<!-- title -->
			<div 
				class="step-title"
				[ngClass]="(currentStep===1)?'blue':'grey'"
			>
				Learning Objective
			</div>

			<!-- content -->
			<div class="step-content-container">
				<div 
					class="step-content learning-objective"
					[ngClass]="(currentStep===1)?'blue':'grey'"
				>
				
					<form [formGroup]="loForm" (ngSubmit)="onLOSubmit()" >

						<tf-node-flex-fxr>

							<tf-ng-input
								slot="flex"
								[name]="learningObjective"
								type="input"
								placeholder="Type the questions Learning Objective then hit 'ENTER'"
								[formControl]="learningObjective"
								[disabled]="loDisabled"
							></tf-ng-input>

							<tf-button-light-dom 
								slot="fxr"
								[colour]="!loSubmitted ? 'blue' : !loDisabled ? 'blue' : 'grey' " 
								button-type="submit"
								[disabled]="!loForm.valid"
							>	
								{{ !loSubmitted ? "Add" : loDisabled ? "Edit" : "Change" }}
							</tf-button-light-dom>
				
						</tf-node-flex-fxr>

					</form>

				</div>
				
			</div>

		</div> <!-- END .step-node -->




		<div class="step-node">
			<!-- title -->
			<div 
				class="step-title"
				[ngClass]="(currentStep===2)?'blue':'grey'"
			>
				Question
			</div>

			<!-- content -->
			<div class="step-content-container">
				<div 
					class="step-content learning-objective"
					[ngClass]="(currentStep===2)?'blue':'grey'"
				>
				
					<form 
						[formGroup]="qtForm" 
						(ngSubmit)="onQTSubmit()"
					>

						<tf-node-flex-fxr>

							<tf-ng-input
								slot="flex"
								[name]="questionTitle"
								type="input"
								placeholder="Type the questions Learning Objective then hit 'ENTER'"
								[formControl]="questionTitle"
								[disabled]="qtDisabled"
							></tf-ng-input>


							<tf-button-light-dom 
								slot="fxr"
								[colour]="!qtSubmitted ? 'blue' : !qtDisabled ? 'blue' : 'grey' " 
								button-type="submit"
								[disabled]="!qtForm.valid"
							>	
								{{ !qtSubmitted ? "Add" : qtDisabled ? "Edit" : "Change" }}
							</tf-button-light-dom>
				
						</tf-node-flex-fxr>

					</form>

				</div>
				
			</div>

		</div> <!-- END .step-node -->




		<div class="step-node">
			<!-- title -->
			<div 
				class="step-title"
				[ngClass]="(currentStep===3)?'blue':'grey'"
			>
				Answers
			</div>

			<!-- content -->
			<div class="step-content-container">
				<div 
					class="step-content answers"
				>
				
					<answer-details 
						*ngFor="let answer of answers; let i = index"
						[title]=answer.title
						[imageName]=answer.emailAddress
						[isCorrectAnswer]=answer.isCorrectAnswer
						[index]=i
						(changeIsCorrectAnswer)='changeIsCorrectAnswer($event)'
						(removeAnswer)='removeAnswer($event)'
						(updateTitle)='updateAnswerTitle($event, i)'
						[disabled]="currentStep<3"
					></answer-details>

					<tf-button 
						[disabled]="currentStep<3"
						(click)="onAddNewAnswer()"
					>
						add new answer
					</tf-button>
				</div>
				
			</div>
			
			
		</div> <!-- END .step-node -->


	</div> <!-- END .content-container -->
</div>

