<tf-page-title-breadcrumbs show-back-button="true"	>
	<tf-page-title slot="pageTitle">Assign a course</tf-page-title>
</tf-page-title-breadcrumbs>

<tf-card *ngIf="!showConfirmation && courses != undefined">

	<tf-card padding="none" colour="white" class="assign-card">

			<tf-form-title type="page">
				<tf-h4 class="assign-card-header">
					Firstly, choose a course and then add delegates
				</tf-h4>
			</tf-form-title>

			<div class="content-container">
				
				<div class="step-node">
					<div 
						class="step-title"
						[ngClass]="(currentStep===1)?'blue':'grey'"
					>
						Course Name
					</div>
						<div class="step-content-container">
							<div 
								class="step-content course"
								[ngClass]="(currentStep===1)?'blue':'grey'"
							>
								<tf-select
									name="course"
									(tfOnSelect)="onSelectCourse($event)"
								>
									<tf-select-option attr.value='{{ null }}'>Select a course</tf-select-option>
									<tf-select-option *ngFor="let course of courses" attr.value='{{course.id}}'>{{course.name}}</tf-select-option>
								</tf-select>
							</div>
							
				
					</div>
				</div>

				<div class="step-node">
					<div 
						class="step-title"
						[ngClass]="(currentStep===2)?'blue':'grey'"
					>
						Delegates
					</div>
					<div class="step-content-container">
						
						<div 
							class="step-content user"
							[ngClass]="(currentStep===2)?'blue':'grey'"
						>
							<tf-search
								#searchEl
								[placeholder]="'Enter name or add email addresses to add new people. You can add multiple emalls using a semi-colon to seperate. E,g, john@company.com; sally@company.com'"
								(tfOnInput)="onSearchInput($event)"
								(tfOnSearch)="onSearchSelected($event)"
								(paste)="addUser($event)"
								[disabled]="currentStep === 1"
							>
								<tf-dropdown-option 
									*ngFor="let result of results" 
									attr.value="{{ result.emailAddress }}"
								>
									{{ result.fullName | titlecase }} - {{ result.emailAddress }}
								</tf-dropdown-option>
							</tf-search>
						</div>

						<delegate-details 
							*ngFor="let user of existingUsers"
							[fullName]=user.fullName
							[emailAddress]=user.emailAddress
							[delegateType]=DelegateTypeEnum.EXISTING
							(removeUser)='removeUser($event)'
						></delegate-details>

						<delegate-details 
							*ngFor="let user of newUsersEmails"
							[emailAddress]=user
							[delegateType]=DelegateTypeEnum.NEW
							(removeUser)='removeUser($event)'
							(updateName)='handleNameInput($event)'
						></delegate-details>

					</div> <!-- END step-content-container -->
				</div>
				

			</div> <!-- END content-container -->
			
	</tf-card>

	<tf-card colour="white">
		<tf-checkbox
			[label]="'Reissue if already assigned'"
			hint="This will send a reminder email to the user for this course"
			[name]="reissueIfAlreadyAssigned"
			(tfOnChecked)="setReissueIfAlreadyAssigned($event)"
			>
			</tf-checkbox>
	</tf-card>

	<div class="tansparent-node">
		<tf-node-fxl-flex-fxr>
			<tf-node-slot-wrapper slot="fxl">
				<tf-button 
					colour="white"
					(click)="returnToDashboard()"
				>
					Cancel
				</tf-button>
			</tf-node-slot-wrapper>
			<tf-node-slot-wrapper slot="flex">
				&nbsp;
			</tf-node-slot-wrapper>
			<tf-node-slot-wrapper slot="fxr">
			
				<!-- <tf-span-italic *ngIf="currentStep === 1" colour="blue">
					Select a course to continue
				</tf-span-italic> -->
				<tf-button 
					colour="aqua"
					disabled
					*ngIf="currentStep === 1"
				>
					Select a course to continue
				</tf-button>
				<tf-button 
					colour="aqua"
					(click)="createUsersAndAssign()"
					[disabled]="buttonDisabled"
					*ngIf="currentStep !== 1"
				>
					Assign {{ existingUsers.length + newUsersEmails.length }} Delegates to this Course
				</tf-button>
			</tf-node-slot-wrapper>
		</tf-node-fxl-flex-fxr>
	</div>
	

</tf-card>




<tf-card *ngIf="showConfirmation">
	<tf-table *ngIf="successResults !== null">
			<tf-table-head slot="table-head">
					<tf-table-head-cell c-width="33%">Name</tf-table-head-cell>
					<tf-table-head-cell c-width="33%">Email</tf-table-head-cell>
					<tf-table-head-cell c-width="33%">Result</tf-table-head-cell>
			</tf-table-head>

			<tf-table-row *ngFor="let result of successResults">
					<tf-table-cell c-width="33%">
						<tf-node-row-cell-span>
							{{ result.name | titlecase }}
						</tf-node-row-cell-span>
							
					</tf-table-cell>
					<tf-table-cell c-width="33%">
						<tf-node-row-cell-span>
							{{ result.email }}
						</tf-node-row-cell-span>
					</tf-table-cell>
					<tf-table-cell c-width="33%">
							<tf-node-text>
								<tf-status 
									[attr.traffic-light-colour]="getStatusColour(result.result)"
								>	
									{{ result.result }}
								</tf-status>
							</tf-node-text>
					</tf-table-cell>
			</tf-table-row>
	</tf-table>
	
	<div style="padding-top: 8px">
			<tf-node-flex-fxr>
					<tf-button 
							slot="fxr"
							colour="aqua" 
							button-type="button"
							(click)="returnToDashboard()"
							[disabled]="buttonDisabled"
					>
							Return to dashboard
					</tf-button>
			</tf-node-flex-fxr>
	</div>
</tf-card>